# NX_PUBLIC_KEYCLOAK_URL=
# NX_PUBLIC_KEYCLOAK_REALM=
# NX_PUBLIC_KEYCLOAK_CLIENT_ID=
# NX_PUBLIC_KEYCLOAK_SCOPE=
# NX_PUBLIC_DEVOPS_API_URL=

# TODO 
# This should probably not be an env var, its used for LRS statements
NX_PUBLIC_AUTH_URL=https://rangeos.engineering/auth

#Local development
# NX_PUBLIC_DEVOPS_API_URL=http://localhost:8080
# NX_PUBLIC_DEVOPS_GQL_URL=http://localhost:4000
# NX_PUBLIC_DEVOPS_GQL_SUBSCRIPTIONS_URL=wss:////localhost:4000
