wwwroot/*.js
node_modules
typings
dist
testing
cypress.env.json
coverage/**
.env.local
.history
tmp/
.scannerwork/**
.dependencygraph
.nx/cache
.nx/workspace-data
cmi5/output
cc-cmi5-player-dist
build-output/
.nx
migration.json/


libs/ui/components/branded/src/assets/cmi5-player/background.png
libs/ui/components/branded/src/assets/cmi5-player/**
cmi5-test-lessons/**


vite.config.*.timestamp*
vitest.config.*.timestamp*
temp.package
temp.project
allpackages.json