/*
 *   MdxEditor Stylesheet
 */

.mdxeditor {
  /* --basePageBg:#dff11e; */
  height: inherit;
  overflow: visible;
}

/* makes accordion nested content dark */
.dark-editor {
  --basePageBg: #212125;
}

/* Ensure nested editors (like :::anim directive content) don't render with their own grey panels in playback.
   The hashed class comes from @mdxeditor/editor styles. */
.dark-editor ._nestedEditor_1e2ox_961 {
  background-color: transparent !important;
}

.nested-editable-dark {
  --basePageBg: #212125;
  /* inline code block 
  original color matches bg so its invisible */
  ._code_1tncs_52 {
    background-color: #0d1118;
  }
  ._nestedEditor_1e2ox_961 {
    background-color: transparent !important;
  }
}

.nested-editable-light {
  --basePageBg: #f8f8f8;
  ._nestedEditor_1e2ox_961 {
    background-color: transparent;
  }
}

/* Ensure nested editors in AccordionSummary (like admonition titles) align properly */
.MuiAccordionSummary-root ._nestedEditor_1e2ox_961 {
  padding: 0;
  margin: 0;
  line-height: inherit;
  min-height: 0;
}

.mdxeditor-diff-source-wrapper {
  overflow-y: auto;
  height: 100%;
}

.mdxeditor-diff-source-wrapper {
  background-color: black;
  margin-left: 60 !important;
  padding-right: 60 !important;
}

/* player class when not editing */
.mdxeditor-root-contenteditable {
  /* background:aqua;
  background-color:aqua; */
  /*REF  debug canvas height */
  margin-left: 12px;
  margin-right: 12px;
  text-align: start;
  padding-top: 24px;
  padding-bottom: 32px;
}

.mdxeditor-source-editor {
  /* background:rgb(240, 18, 229);
  background-color:rgb(240, 18, 229); */
  text-align: start;
}

.mdxeditor-rich-text-editor {
  margin-left: 12px;
  margin-right: 12px;
}

/* no editor toolbar in playback mode */
.mdxeditor-preview-toolbar {
  height: 0px;
}

.mdxeditor-toolbar {
  padding: 0;
  margin: 0;
}

.mdxeditor-popup-container {
  z-index: 9999;
}
