/* Roboto */
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Bold'),
    url('./Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Italic'),
    url('./Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Medium'),
    url('./Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-MediumItalic'),
    url('./Roboto/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto-Regular'),
    url('./Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
}

/* BarlowCondensed */
@font-face {
  font-family: 'BarlowCondensed';
  src:
    local('BarlowCondensed-Bold'),
    url('./BarlowCondensed/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'BarlowCondensed';
  src:
    local('BarlowCondensed-Italic'),
    url('./BarlowCondensed/BarlowCondensed-Italic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'BarlowCondensed';
  src:
    local('BarlowCondensed-Medium'),
    url('./BarlowCondensed/BarlowCondensed-Medium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'BarlowCondensed';
  src:
    local('BarlowCondensed-MediumItalic'),
    url('./BarlowCondensed/BarlowCondensed-MediumItalic.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'BarlowCondensed';
  src:
    local('BarlowCondensed-Regular'),
    url('./BarlowCondensed/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
}
