/*
 *   MdxEditor Stylesheet
 */

.mdxeditor {
  height: inherit;
}

/* makes accordion nested content dark */
.dark-editor {
  --basePageBg: #212125;
  /* --baseText:rgb(10, 243, 76); */
  /* --baseTextContrast:rgb(23, 213, 156); tooltip color, content editable */
}

/* makes accordion nested content dark */
.light-editor {
  --basePageBg: #f8f8f8;
  /* --baseTextContrast:rgb(59, 9, 222); */
  /* --baseText:rgb(215, 9, 222); */
}

/* future fix background color of code editors by passing in themes
.dark-cm-editor {
  .cm-editor {
    background-color: aqua;
  }
} */

a {
  color: #6f96ff;
  text-decoration: none;
}
a:hover {
  color: #8cadfa;
}
a:visited {
  color: #6f96ff;
}

.nested-editable-dark {
  --basePageBg: #212125;
  /* inline code block 
  original color matches bg so its invisible */
  ._code_1tncs_52 {
    background-color: #0d1118;
  }
}

.nested-editable-light {
  --basePageBg: #f8f8f8;
}

.mdxeditor-diff-source-wrapper {
  overflow-y: auto;
  height: 100%;
}

.mdxeditor-diff-source-wrapper-dark {
  background-color: rgb(10, 243, 76);
  margin-left: 60 !important;
  padding-right: 60 !important;
}

.mdxeditor-diff-source-wrapper-light {
  background-color: rgb(215, 9, 222);
  margin-left: 60 !important;
  padding-right: 60 !important;
}

.mdxeditor-root-contenteditable {
  text-align: start;
}

.mdxeditor-source-editor {
  /* TODO  theme source editor*/
  text-align: start;
}

.mdxeditor-rich-text-editor {
  margin: 12px;
}

/* .mdxeditor-preview-toolbar {
} */

.mdxeditor-toolbar {
  padding: 0;
  margin: 0;
}

.mdxeditor-popup-container {
  z-index: 9999;
}

/* maybe below */

/* Monaco Editor*/

.monaco-editor .mergeRight {
  background: rgba(226, 50, 65, 0.2);
  box-shadow: inset 0 -1px 0 rgba(224, 108, 117, 0.6);
}

.monaco-editor .mergeLeft {
  background: rgba(88, 226, 50, 0.2);
  box-shadow: inset 0 -1px 0 rgba(45, 143, 53, 0.6);
}
